*.gz
*.pyc
*.vscode
*.idea
*.csv
*.pt
*.jpg
*.bmp
result/*.png

data/
venv/

answer/
embedding/
log/
model/
output/
result/
report/

table/
config/

MNIST/
FashionMNIST/
BEST/
VALUE/
__pycache__/

cmd.sh
presentation/

.ipynb_checkpoints/*

script/run_custom.sh

MNIST
BEST
FashionMNIST
CIFAR10
si_english
si_french
